.box1{
    
    height: 60px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: end;
    align-items: center;
}

.box2{
    
    height: 120px;
    display: flex;
    align-items: center;
}
.box3{
    
    height: 400px;
}
.box4{
    
    height: 50px;
    display: flex;
    align-items: center;
}
.box5{
    
    height: 80px;
    display: flex;
    align-items: center;
}

.img1{
    
    height: 45px;
    width: 45px;
    margin-right: 30px;
}

.innerBox{
    
    height: 60px;
    width: 350px;
    margin-left: 20px;

}

.dateTimeFollow{
    
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

.date, .follow{
    margin-left: 30px;
}

.title{
    margin-left: 70px;
}

.articleBody{
    height: 355px;
    width: 1200px;
    margin-left: 70px;
    margin-top: 8px;
    background-color: #D9D9D9;

}

.like{
    margin-left: 70px;
    display: flex;
    align-items:center ;
}

.like p{
    margin-left: 5px;
}

.comment{
    margin-left: 30px;
    display: flex;
    align-items:center ;
}

.comment p{
    margin-left: 5px;
}
.download{
    margin-left: 920px;
}
.share{
    margin-left: 30px;
}

