
/*.box1 {
    background-color: #000;
    color: #fff;
    opacity: .5;
    color: #000;
}*/

.bg-image-wrapper{
    position: fixed;
    font-family: 'Courier New', Courier, monospace;

}
.text-box{
    color: black;
}