@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.box{
    display: flex;
    flex-direction: row-reverse;
    
}
.box1{
    width: 750px;
     height: 713px;;
     /*border: red solid 1px;*/
     display: flex; 
     flex-direction: column;   
     justify-content: center;  
     align-items: flex-start;
     
}
.box2{
   width: 900px;
    height: 713px;
    
}

    
.innerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 350px;;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    
}

.title{
    color: #060606;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
}


.emailText{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 550px;
    height: 55px;
    font-family: 'FontAwesome';
    font-size: 20;
    border-radius: 15px;
    font-size: x-large;
    color: #060606;
    background-color: #fff;
    border:0px #fff;
    
}

.button{
    margin-top: 10px ;
    width: 550px;
    height: 55px;
    border-radius: 15px;
    background-color: #060606;
    font-size: 25px;
    font-family: Space Grotesk;

}