@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.box{
    display: flex;
    flex-direction: row-reverse;
    
}
.box1{
    width: 700px;
     height: 713px;;
     /*border: red solid 1px;*/
     display: flex; 
     flex-direction: column;   
     justify-content: center;    
}
.box2{
   width: 900px;
    height: 713px;}
  /*  border: red solid 1px;
    
}
.innerBox{
    width: 550px;
    height: 170px;;
    border: red solid 1px;
    
}*/  

.title{
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
}


.emailText{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 550px;
    height: 55px;
    font-family: 'FontAwesome';
    font-size: 20;
    border-radius: 15px;
    font-size: x-large;
    color: #060606;
    background-color: #fff;
    border:0px #fff;
    
}

.button{
    margin-top: 10px ;
    width: 550px;
    height: 55px;
    border-radius: 15px;
    background-color: #060606;
    font-size: 25px;
    font-family: Space Grotesk;

}