/*.layout-header{
    background-color: rgb(248, 247, 247);
    color: rgb(14, 24, 32);
    font-size: 30px;
    padding: 30px;
    width: 100%;
    margin: 0px;
    border: #0d0d0d;
    border-bottom-width: medium;


}

.layout-Navbar {
    position:absolute;
    margin: 0px auto;
    width: 342px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #2A3034;
}

;

.logo {
    top: 30px;
}

.text-Dashboard {
    top: 140px;
}

.text-Templates {
    top: 241px;
}

.text-TopicDomains {
    top: 342px;
}

.text-ArticleTypes {
    top: 444px;
}

.text-flaggedTopics {
    top: 550px;
}

.text-AssignUserRoles {
    top: 656px;
}

.text-GenerateReports {
    top: 757px;
}

.text-ArticleApproval {
    top: 858px;
}

.logo,
.text-Dashboard,
.text-Templates,
.text-TopicDomains,
.text-ArticleTypes,
.text-flaggedTopics,
.text-AssignUserRoles,
.text-GenerateReports,
.text-ArticleApproval {
    position: absolute;
    width: 173px;
    height: 45px;
    left: 86px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

;

.Email {
    color: #0d0d0d;
    text-align: right;
}


.background-image {
    height: 100vh;
    width: 1098px;
    background-size: cover;
    background-repeat: no-repeat;


}



.bg-image-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
*/

.navContainer{
    position: fixed;
    width: 342px;
    height:100%;
    background: #2A3034;
    box-shadow:3px 0px 6px 0px rgba(246,246,246,0.75);
    margin-top: 0ch;
    top: 0px;
  
}

.wrapper{
    padding: 10px;
    z-index: 1;
}
.logo{
    padding:10px;
    padding-left: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:white;
}

.wrapper>ul{
    margin-top:20px;
    text-align:left;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap:40px;
    font-size: 18px;
    font-weight:bold;


}

.wrapper>ul>li{
    list-style:none;
    font-size:20px;
    text-decoration: none;
    color:white;
    opacity: 1;
}

.wrapper>ul>li:hover{
    color:rgb(236, 236, 231);
    font-size:22px;
    transition: 0.2s;
    opacity: 0.2;
}
/*For mobile phones*/
@media only screen and (max-width:768px){
    .navContainer{
        width:70px;
    }
    .logo>h2{
         opacity:0;
    }
    .logo{
        background: url("../public/writing.png.jpg");
        width:40px;
        height:40px;
        padding: 10px;
        margin: 10px;
    }
    .wrapper>ul{
        gap:5px;
    }
    .wrapper>ul>li:hover{
        color: red;
    }
    .wrapper>ul>li>a{
        opacity: 0;
    }
}