

.screen{
    display:flex;
    height:100vh;
    background-color: rgb(96,165,250);
    min-width:1000px;

}

.column{
    margin: auto;
    background-color: rgb(248, 250, 252); 
    width: 60%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.rightcol{

    background: url(/asset/img-5.jpg);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    
}
.blurcol{
    background-color: #434343a9;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    line-height: 1;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    padding: 40px;

    
}
.whitebox{
    background-color: #ffffff;
    border-radius: 15px;
    background:white;
    display: flex;
    
    margin: auto;
    padding: 20px 40px 20px 40px;
    
}

.padding{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.imgstyle{
    background-image: linear-gradient(to right, #3b82f6, #6366f1);
    position: relative;
    overflow: hidden;
}
.img{
    background: url('/asset/img-5.jpg') no-repeat;
    position: absolute;
    bottom: 0;left: 0;right: 0;top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
   
}
