.title1 {
    color: black;
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    text-align: left;
  }
  
  .word {
    display: flex;
    text-align: left;
    font-size: small;
    width: 100%;
    color: black;
    margin-top: 10px;
    margin-left: 1px;
    margin-bottom: 10px;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .username {
    background-color: rgb(192, 197, 208);
    border-radius: 8px;
    color: rgb(5, 5, 5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .email {
    background-color: rgb(192, 197, 208);
    border-radius: 8px;
    color: rgb(5, 5, 5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .password {
    background-color: rgb(192, 197, 208);
    border-radius: 8px;
    color: rgb(0 0 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .raw{
      display: flex;
      margin-top: 5px;
      gap: 100px;
  }
  
  .keep{
      text-align: left;
      color: black;
      font-size: 10px;
  }
  .forgot{
      text-align: right;
      color: black;
      font-size: 10px;
  }
  
  .footer {
    text-align: center;
    color: rgb(0 0 0);
  }
  
  .submit {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 11px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 85px;
    padding-right: 85px;
  }
  .or{
      text-align: center;
      color: black;
      font-size: 10px;
      margin: 10px;
          
   
  }
  .submit2 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer {
    text-align: center;
    margin-top: 10px;
    font-size: small;
    
  }
  .last{
      text-decoration: underline;
      font-weight: bold;
  }
  .eico{
      color: black;
  }